<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/about-us.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="about-us">
        
        <h2 class="title">ACERCA DE Your-Skin</h2>
        
        <article class="description">
          <p>
            Somos una empresa de m치s de 5 a침os en el mercado, especializada en la comercializaci칩n de SkinCare con productos nacionales e internacionales. 
          </p>
          <p>
            Ofrecemos una amplia variedad de productos seleccionados especialmente para que nuestros clientes puedan disfrutar de  distintos tipos de marcas y veneficios que ofrece el mercado.
          </p> 
          <p>
            Nuestro objetivo es ofrecer productos de calidad a precios accesibles para que puedan disfrutar todos aquellos clientes mayores de 18 a침os.
          </p>
          
          <img src="/images/pngtree-skin-care-logo-png-image_5774040.png" alt="logo Your-Skin" class="logo" />
          
        </article>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
