<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/terms-conditions.css" />
  </head>

  <body>  
    <%- include('./partials/header.ejs') %> 
    <main>
      <section class="terms-privacy">
        <h1 class="title">TÉRMINOS Y CONDICIONES</h1>
        <h2 class="subtitle">
          Términos y Condiciones para el uso del sitio web Your-Skin 
        </h2>
        <p class="description">
          Al acceder y utilizar el sitio web "Your-Skin", aceptas cumplir con los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, te recomendamos que no utilices nuestro sitio.:
        </p>
        <li class="list">
          <ul>
            1. Uso del Sitio: "Your-Skin" concede a los usuarios una licencia limitada y no exclusiva para acceder y utilizar el sitio con fines personales y comerciales.
          </ul>
          <ul>
            2. Te comprometes a no utilizar el sitio con fines ilegales o no autorizados y a cumplir con todas las leyes y regulaciones aplicables.
          </ul>
          <ul>
            3. PRECIOS Y PAGOS: Los precios de nuestros productos están especificados en la página web. Nos reservamos el derecho de cambiar los precios en cualquier momento. Los pagos deben realizarse mediante los métodos de pago disponibles en nuestro sitio web.
          </ul>
          <ul>
            4. ENVÍOS: Los tiempos de entrega son aproximados y pueden variar según la ubicación. Nos esforzamos por entregar los productos en el plazo establecido, pero no nos hacemos responsables por retrasos imprevistos.
          </ul>

          <ul>
            6. MODIFICACIONES DE TÉRMINOS: Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigencia inmediatamente después de su publicación en nuestro sitio web.
          </ul>
        </li>

        <h1 class="title">POLÍTICA DE PRIVACIDAD</h1>
          
        <p class="description">
          En Your-Skin, nos comprometemos a proteger y respetar tu privacidad. Esta política describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas.

          

          <li class="list">
            <ul>
              Utilizamos la información recopilada para:
            </ul>
            <ul>
              Procesar tus pedidos y gestionar tu cuenta. 
            </ul>
            <ul>
              Enviarte información sobre nuestros productos, promociones o eventos.
            </ul>
            <ul>
              Mejorar nuestros productos y servicios.
            </ul>
            <ul>
              No compartimos tu información personal con terceros, excepto cuando es necesario para procesar tu pedido (por ejemplo, con proveedores de servicios de pago) o cuando lo exija la ley.
            </ul>
            <ul>
              A su vez, tomamos medidas razonables para proteger tu información personal contra accesos no autorizados, alteraciones, divulgaciones o destrucciones.
            </ul>
            <ul>
              Nos reservamos el derecho de modificar esta política en cualquier momento. 
              Las modificaciones entrarán en vigencia inmediatamente después de su publicación en nuestro sitio web.
            </ul>
            <ul>
              Gracias por confiar en Your-Skin.
              ¡Salud!
            </ul>
        </p>
      </section>  
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>